.timeline {
    width: 5px;
    height: 88vh;
    background-color: rgb(13, 47, 29);
    display: flex;
    align-items: center;
    flex-direction: column;

    &Circle {
        display: flex;
        width: 20px;
        height: 20px;
        background-color: rgb(13, 47, 29);   
        border-radius: 50%;
    }
    
    &Top {
        margin-top: calc(15vh - 10px);
    }

    &Centre, &Bottom {
        margin-top: calc(28vh - 10px);
    }
}